@import url(https://reset5.googlecode.com/hg/reset.min.css);
@import url(https://fonts.googleapis.com/css?family=Nixie+One|Open+Sans:700italic,400,700|Open+Sans+Condensed:300,300italic,700|Slabo+13px);

navbar{
    display: inline-block;
    width:100%;
    background-color: saddlebrown;
    z-index:3;
    box-shadow:0px 3px 2px black;

}
navbar div{
    margin:2%;
    z-index:4;
    
}

body{
    margin:0;
    text-align: center;
    background-image: url("../imgs/cork-bg.jpg");
    width:100%;
    font-family:'Monserrat';
    text-decoration: none;
}

div{
    display: inline-block;
    position: relative;
    
    margin:5%;
    padding:25px;
    color:black; 
    background-color: #FFFF99   ;
    z-index:2;
    box-shadow:0px 3px 10px black;
}
    
div:hover{
    
    box-shadow:0px 3px 18px black;
}