@import url(https://reset5.googlecode.com/hg/reset.min.css);
@import url(https://fonts.googleapis.com/css?family=Nixie+One|Open+Sans:700italic,400,700|Open+Sans+Condensed:300,300italic,700|Slabo+13px);


body{
    margin:0;
    text-align: center;
    background-color: azure;
    font-family:'Monserrat';
}

div{
    display: inline-block;
    position: relative;
    
    margin:35px;
    padding:25px;
    color:black; 
    background-color: white;
    z-index:2;
    box-shadow:0px 3px 2px grey;
}
    
div:hover{
    
    box-shadow:0px 3px 6px grey;
}